@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.sun-editor .se-wrapper .se-placeholder {
  font-size: 1.125rem !important;
}

.content-img img {
  display: none !important;
}

.table-wrapper-paragraph {
  overflow-y: auto !important;
}

.se-image-container {
  width: 100% !important;
}

.se-image-container img {
  border-radius: 20px;
}
